<div class="center">
  <section id="content">
    <h2 class="sub-header">Search Results</h2>
    <div>
      <h2 class="sub-header" *ngIf="!searchResults && !noResults">
        Loading articles..
      </h2>
    </div>
    <div *ngIf="noResults">
      <h5 class="sub-header">No articles to show...</h5>
    </div>
    <div id="articles" *ngIf="searchResults && !noResults">
      <!--Using For directive to iterate array. Getting index number-->
      <div *ngFor="let article of searchResults; let i = index">
        <!--Catching event fn (markFavEvent - Child) and exec parent fn (showFav - Parent)-->
        <app-article [article]="article" [i]="i"></app-article>
      </div>
    </div>
  </section>
  <app-sidebar></app-sidebar>
  <div class="clearfix"></div>
</div>
