<app-slider [testPr]="secText" [size]="'small'"></app-slider>

<div class="center">
  <section id="content">
    <h1>Last Articles</h1>
    <div>
      <h2 class="sub-header" *ngIf="!articles">Loading articles..</h2>
    </div>
    <div id="articles" *ngIf="articles">
      <!--Using For directive to iterate array. Getting index number-->
      <div *ngFor="let article of articles; let i = index">
        <!--Catching event fn (markFavEvent - Child) and exec parent fn (showFav - Parent)-->
        <app-article [article]="article" [i]="i"></app-article>
      </div>
    </div>
  </section>
  <app-sidebar></app-sidebar>
  <div class="clearfix"></div>
</div>
